#body {
  background-color: rgb(241, 239, 239);
}

#section {
  width: 60%;
  padding: 20px;
  margin: 50px auto 10px;
  border: 2px solid rgba(231, 230, 230, 0.767);
  background-color: rgb(255, 255, 255);
}

#button-submit {
  margin-left: 21%;
  margin-right: 10px;
}


#textarea {
  resize: none;
}