#body {
  width: auto;
  background-color: rgb(226, 226, 226);
}

#section {
  width: 60%;
  padding: 20px;
  margin: 50px auto 10px;
  border: 2px solid rgba(231, 230, 230, 0.767);
  background-color: rgb(255, 255, 255);
  border-radius: 1%;
  box-shadow: 1px 1px 30px rgb(105, 104, 104);
}

#button-submit {
  margin-left: 21%;
  margin-right: 10px;
}


#textarea {
  resize: none;
}